@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scrollbar-modern {
  scrollbar-width: thin;            
  scrollbar-color: transparent transparent;
}

.scrollbar-modern::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-modern::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-modern::-webkit-scrollbar-thumb {
  background-color: rgba(120, 120, 120, 0.0);
  border-radius: 999px;
  transition: background-color 0.2s ease;
}

.scrollbar-modern:hover::-webkit-scrollbar-thumb,
.scrollbar-modern:active::-webkit-scrollbar-thumb,
.scrollbar-modern:focus-within::-webkit-scrollbar-thumb {
  background-color: rgba(120, 120, 120, 0.5);
}

.scrollbar-modern:hover {
  scrollbar-color: rgba(120,120,120,0.5) transparent;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

}
